<% @posts.each do |post| %>
  <div class="col-lg-3 col-md-4 col-sm-12">
    <%= link_to post_path(post) do %>
      <%= image_tag post.get_post_image(200, 200), id: 'architect-photo', class: "img-fluid m-2 w-100" %>
    <% end %>
  </div>
<% end %>
