<!--フォロー一覧-->
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto py-5">
      <h2 class="text-center">Follow Users</h2>
         <%= render "public/relationships/follow_index",users: @users %>
    </div>
  </div>
</div> 
<!--ページネーション-->
<div class="container mt-4">
  <div class="row justify-content-center"><%= paginate @users %></div>
</div>

