<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto bg-white">
      <h2 class="text-center m-4 px-2"><strong>About</strong></h2>
        <p class="text-center">Archit.(アージェ）は、現代建築を中心にあらゆる建築について</br>
        情報を共有することができるコミュニティサイトです！</p>
        <h5 class="recommendation w-50">こんな方にオススメ！</h5>
          <p class="m-2">建築が好きな人はもちろん、建築を学ぶ学生さん、建築家、カメラマン、旅行先の観光や</br>
          美術館などを探している人</p>
        <h5 class="possible w-50">このサイトで出来ること</h5>
          <h6><span><i class="fas fa-check-circle"></i></span> 写真投稿</h6>
            <p class="ml-2">あなたの旅の思い出や、お気にりの建築をアップ<span><i class="fas fa-camera"></i></span>することができます!</p>
          <h6><span><i class="fas fa-check-circle"></i></span> 投稿検索</h6>
            <p class="ml-2">建築名、建築家、住所、関連ワードを指定して、簡単に探す<span><i class="fas fa-search"></i></span>ことができます!</p>
          <h6><span><i class="fas fa-check-circle"></i></span> いいね、お気に入り機能</h6>
            <p class="ml-2">いいなと思った投稿に対して、いいね（<i class="fas fa-heart" style="color: red;"></i></span>）をつけることができます!</br>
            また、気になった投稿をお気に入り登録して、見たい時にすぐ確認ができます！</p>
          <h6><span><i class="fas fa-check-circle"></i></span> コメント機能</h6>
            <p class="ml-2">気になった投稿に対してコメントを書く<span><i class="fas fa-pen"></i></span>ことができます!</p>
          <h6><span><i class="fas fa-check-circle"></i></span> フォロー機能</h6>
            <p class="ml-2">他のユーザー<span><i class="fas fa-users"></i></span>をフォローすることができます!</p>
    </div>
  </div>
</div>
