<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto my-3">
            <!--投稿検索用-->
     <%= render "public/posts/search_post", q: @q %>
    </div>
  </div>
  
  <h2 class="text-center mb-3">Posts</h2>
  <div class="row ">
      <!--投稿写真一覧-->
  <%= render "public/posts/index", posts: @posts %>
  </div>
  <div class="container float-right"><%= paginate @posts %></div> 
</div>

