<p class="btn" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="far fa-comment fa-lg" style="color: #0080ff;"></i>
 <span class="text-primary"><%= @post.post_comments.count %></span></p>
 