<!--お気に入り保存した投稿画像一覧-->
<div class="container">
   <h2 class="text-center mb-3">Favorites</h2>
  <div class="row">
    <% if @favorites_list.present? %>
      <% @favorites_list.each  do |list| %>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <%= link_to post_path(list) do %>
            <%= image_tag list.get_post_image(200, 200),class: "img-fluid m-2 w-100" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>お気に入り保存している投稿はありません</p>
    <% end %>
  </div>
</div>

